.UIPageDesktop {
	position: relative ;
  overflow: hidden ;
  background: url('background/eXoDesktopBG.jpg') no-repeat left bottom ;
}

.UIPageDesktop .UIWindow {
	width: 800px ; 
}
	
.UIPageDesktop .UIWindow .UIApplication {
	height: 350px ;
}

.UIPageDesktop .UIDockBar {
  position: absolute;
  bottom: 0px;
  margin: auto ;
  z-index: 30 ;
  cursor: pointer ;
}

.UIPageDesktop .NavigationContainer {
  position: absolute;
  left: -70px;
  top: -450px;
}

.UIPageDesktop .UIDockBar .Icon {
  width: 40px ; height: 40px ;
}

.UIPageDesktop .UIDockBar .IconControl {
  width: 40px ; height: 40px ;
}

.UIPageDesktop .UIDockBar .DockbarLeft {
  background: url('background/LeftDockbar.png') no-repeat bottom left  ;
  padding: 0px 0px 0px 24px ;
}

.UIPageDesktop .UIDockBar .DockbarRight {
  background: url('background/RightDockbar.png') no-repeat bottom right ;
  padding: 0px 24px 0px 0px ;
}

.UIPageDesktop .UIDockBar .DockbarCenter {
  height: 47px ;
  background: url('background/CenterDockbar.png') repeat-x bottom;
}

.UIPageDesktop .UIDockBar .IconContainer {
  vertical-align: bottom ;
	padding: 3px 35px 0px 0px;
  margin: auto ;
}

.UIPageDesktop .UIDockBar .Separator {
	width: 1px; height: 35px; 
	margin: 0px 5px ;
}

.UIPageDesktop .UIDockBar .Tooltip {
	background: white ;
	line-height: 18px ;
	white-space: nowrap ;
	position: absolute ;
	padding: 0px 10px ;
	border: solid 1px #292929 ;
	font-weight: bold;
	color: #292929;
}

.UIPageDesktop .MoveResizeArea {
  float: right ;
  width: 12px ; height: 18px ;
  background: blue ; 
  cursor: nw-resize ;
}

.UIPageDesktop .UIWindow .UIFormInputSet {
	width: 100%;
}

.UIPageDesktop .StartMenuDecorator {
	width: 100%;
}

.UIPageDesktop .StartMenuDecorator .PopupMenuTL {
	background: url('background/PopupMenuBackground.gif') no-repeat left -3px;
	padding: 0px 0px 0px 3px;
}

.UIPageDesktop .StartMenuDecorator .PopupMenuTC {
	height: 3px;
	line-height: 3px;
	width: 100%;
	background: url('background/PopupMenuBackground.gif') repeat-x center top;
}

.UIPageDesktop .StartMenuDecorator .PopupMenuTR {
	background: url('background/PopupMenuBackground.gif') no-repeat right -3px;
	padding: 0px 3px 0px 0px;
	height: 3px;
	line-height: 3px;
}

.UIPageDesktop .StartMenuDecorator .PopupMenuML {
	background: url('background/MiddleMenuBackground.gif') repeat-y left;
	padding: 0px 0px 0px 3px;
}

.UIPageDesktop .StartMenuDecorator .PopupMenuMR {
	background: url('background/MiddleMenuBackground.gif') repeat-y right;
	padding: 0px 3px 0px 0px;
}

.UIPageDesktop .StartMenuDecorator .PopupMenuBG {
	background: white;
	height: 100%;
}

.UIPageDesktop .StartMenuDecorator .StartMenuBL {
	background: url('background/PopupMenuBackground.gif') no-repeat left -6px;
	padding: 0px 0px 0px 3px;
	height: 13px;
	line-height: 13px;
}

.UIPageDesktop .StartMenuDecorator .StartMenuBR {
	background: url('background/PopupMenuBackground.gif') no-repeat right -6px;
	padding: 0px 3px 0px 0px;
	height: 13px;
	line-height: 13px;
}

.UIPageDesktop .StartMenuDecorator .StartMenuBC {
	height: 13px;
	line-height: 13px;
	background: url('background/PopupMenuBackground.gif') repeat-x center -32px;
	padding-left: 65px;
}

.UIPageDesktop .StartMenuDecorator .PointArrow {
	width: 19px;
	height: 13px;
	line-height: 13px;
	background: url('background/PopupMenuBackground.gif') no-repeat left -19px;
}

/*=============================Right Click DockBar Menu=========================*/

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopLeftRightClickPopupMenu {
  background: url('background/PopupMenuBackground.gif') no-repeat left -3px;
	padding: 0px 0px 0px 3px;
	height: 3px;
	line-height: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopRightRightClickPopupMenu {
  background: url('background/PopupMenuBackground.gif') no-repeat right -3px;
	padding: 0px 3px 0px 0px;
	height: 3px;
	line-height: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopCenterRightClickPopupMenu {
 	height: 3px;
	line-height: 3px;
	width: 100%;
	background: url('background/PopupMenuBackground.gif') repeat-x top;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .MiddleLeftRightClickPopupMenu {
  background: url('background/MiddleMenuBackground.gif') repeat-y left;
	padding: 0px 0px 0px 3px;
	height: 100%;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .MiddleRightRightClickPopupMenu {
  background: url('background/MiddleMenuBackground.gif') repeat-y right;
	padding: 0px 3px 0px 0px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomLeftRightClickPopupMenu {
  background: url('background/PopupMenuBackground.gif') no-repeat left -6px;
	padding: 0px 0px 0px 3px;
	height: 10px;
	line-height: 10px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomRightRightClickPopupMenu {
  background: url('background/PopupMenuBackground.gif') no-repeat right -6px;
	padding: 0px 3px 0px 0px;
	height: 10px;
	line-height: 10px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomCenterRightClickPopupMenu {
  height: 10px;
  line-height: 10px;
	background: url('background/PopupMenuBackground.gif') repeat-x center -32px;
	padding-left: 33px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .MenuArrow{
	height: 10px;
	line-height: 10px;
	background: url('background/PopupMenuBackground.gif') no-repeat left -45px;
}

.UIDockBar .UIRightClickPopupMenu .UIRightPopupMenuContainer {
	background:#DFEAF6 none repeat scroll 0% 50%;
	margin:0px;
	padding: 0px;
	border: 1px solid #9ba9bf;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer {
	border: none;
	background: none;
	width: 230px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer a:hover{
	color: #ad0000;
}

.UIDockBar .UIRightClickPopupMenu .CloseDockBarIcon {
	background: url('background/PopupMenuBackground.gif') no-repeat left -55px;
	line-height: 15px;
	color: red;
}

.UIDockBar .UIContextMenuContainer {
	position: absolute; 
	left: -40px; 
	top: -10px;
}



