.UIFooterPortlet {
  margin: 0;
}
	
.UIFooterPortlet .RepeatFooter {
	padding: 0px;
	margin: 0px;
}

.UIFooterPortlet .FooterInfoContainer {
	line-height: 25px;
}

.UIFooterPortlet .CopyrightInfo {
	color: #395c88;
	text-align: center;
	line-height: 30px;
	height: 30px;
}
